<div class="max-w-sm bg-gray-800 rounded-lg shadow">
  <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="arte visual do projeto" />
  <div class="p-5">
    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Web
    </button>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Meu Portfólio v1.0</h5>
    <p class="mb-3 font-normal text-gray-400">HTML e CSS</p>
  </div>
</div>
